
<h3>Home component works</h3>
Sort
<select (change)="sortData($event.target.value)">
  <option [value]="">Select Option</option>
  <option *ngFor="let option of sortOptions" [value]="option.optionId">{{option.optionName}}</option>
</select>

<input (keyup)="query.next($event.target.value)">
<div class="mdl-gird mdl-grid--no-spacing">
  <app-game-card
    class="mdl-cell mdl-cell--4-col user_card mdl-color--green-500"
    *ngFor="let game of games| paginate: { itemsPerPage: 8, currentPage: p }" [game]="game"></app-game-card>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
